.searchbar input[type=text]{
  width: 90%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
}

 

.searchbar{ 
  padding: 20px 0;
  
  background-color: #3b5998;
  text-align: center;
  
}



.wrapper{
  width: 80%;
  margin: 0 auto;
}